# Importing Libraries

In [2]:
from pathlib import Path 
import pydicom
import numpy as np 
import pandas as pd 
import cv2
import matplotlib.pyplot as plt 
import matplotlib.patches as patches

In [3]:
labels = pd.read_csv("rsna_heart_detection.csv")

In [4]:
labels.head()

,label,x0,y0,w,h,name,img_shape_x,img_shape_y
0,heart,91,71,77,102,ca112a3c-b701-48b8-a94f-725ea65416a7,224,224
1,heart,70,64,89,67,e5f292ae-f1e5-497c-b0a0-68f1aa2196b2,224,224
2,heart,82,55,81,76,67af68f7-7ba0-49a0-a373-3a8801eb0faa,224,224
3,heart,93,74,78,89,814289a3-9ce8-4cba-842f-45d6a36f540d,224,224
4,heart,85,61,85,93,e508969f-c931-462b-aa90-ccde34a4d9e5,224,224